./backend/openai.yaml
.env
# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Logs
*.log


# Ignore generated legal-data artifacts
legal-data/articles_cleaned/sections.json
legal-data/chroma_db/